{% extends "base.html" %}
{% block content %}

    

    <h2>{{ page_title }}</h2>
    <p>
        Thorin and Company were a group of thirteen Dwarves, the Wizard Gandalf, and the Hobbit Bilbo Baggins, led by
        Thorin Oakenshield in TA 2941. Their purpose was to regain the lost Dwarven kingdom of the Lonely Mountain from
        the dragon Smaug.
    </p>

    {% for member in company %}

    
        <div class="row featurette">
            <div class="col-md-7">
                <h3>{{ member.name }} </h3>
                <p> {{ member.description }}</p>
            </div>
            <div class="col-md-5">
                <img src="{{ member.image_source }}" alt="Thorin" class="featurette-image image-responsive"> 
            </div>
        </div>

        <hr class="featurette-divider">

    {% endfor %}

{% endblock %}
    
